
<input type="hidden" value="login.php" id="acesso">
<div class="form-input">
	<input type="text" name="login" placeholder="Email" ng-model="ctrl.login.email"><br>
</div>
<div class="form-input">
	<input type="password" name="login" placeholder="senha" ng-model="ctrl.login.senha">
</div>
<input type="submit" name="" value="ENTRAR" class="btn-login" ng-show="ctrl.button" ng-click="ctrl.logar(ctrl.login)" style="outline:none">
<img src="assets/img/loading.gif" ng-show="ctrl.loader" style="width: 13%;height: 60px;position: absolute;margin-left: -8%;margin-top: 1%">
